{% extends 'base.html' %}
{% block title %}Instructores Register{% endblock %}
{% block content %}
<h3><center><span class="label label-info"><FONT FACE="arial">Instructores Register</FONT></span></center></h3>
<br>
<!--
	{% for item in list %}
		<h5>Nombre: __{{ item.nombre}}__</h5>
		<h5>Apellido Paterno: __{{ item.apellido_paterno}}__</h5>
		<h5>Apellido Materno: __{{ item.apellido_materno}}__</h5>
		<h5>Edad: __{{ item.edad}}__</h5>
		<h5>Especialidad: __{{ item.especialidad}}__</h5>
		<h5>Horario Trabajo: __{{ item.horario_trabajo}}__</h5>
		<br>
	{% endfor %}
	-->
<form class="col-md-4 col-sm-offset-4" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p}}
		<br>
			<center><button type="submit" class="btn btn-primary">Guardar</button>
			<button type="submit" class="btn btn-warning">Limpiar</button></center>

	</form>
{% endblock %}